{% extends "base.html" %}
{% block content %}
<table class="table table-sm table-borered">
    <form name="form" method="POST" action="">
        <tbody>
            <tr>
                <td>작성자</td>
                <td><input class="form-control" type="text" name="name"></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input class="form-control" type="text" cols="80" name="title"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea class="form-control" cols="80" rows="10" type="text" name="contents"></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="btn btn-outline-dark float-right" value="확인"></td>
            </tr>
        </tbody>
    </form>
</table>
{% endblock %}