{% extends "base.html" %}
{% block content %}
<table class="table table-sm table-borered">
    <form name="form" method="POST" action="/edit/{{ data._id }}">
        {{ form.csrf_token }}
        <tbody>
            <tr>
                <td>작성자</td>
                <td><input class="form-control" type="text" name="name" value="{{session.get('name')}}" readonly></td>
            </tr>
            <tr>
                <td>{{ form.title.label.text }}</td>
                <td>{{ form.title(class="form-control", cols="70", value=data.title) }}</td>
            </tr>
            <tr>
                <td>{{ form.content.label.text }}</td>
                <td><textarea class="form-control" name="contents" id="contents" cols="80" rows="10">{{data.contents}}</textarea></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="btn btn-outline-dark float-right" value="확인"></td>
            </tr>
        </tbody>
    </form>
</table>
{% endblock %}