{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row col-9">
        <a href="/write">
            <button type="button"
                class="btn btn-outline-secondary btn-sm float-right mb-2"
                >글쓰기
            </button>
        </a>
    </div>
    <div class="row pt-2">
        <table class="table table-sm table-borered">
            <thead class="text-center">
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>일자</th>
                    <th>조회</th>
                    <th>등불</th> <!-- 추천 수 -->
                </tr>
            </thead>
            <tbody class="text-center">
                {% for item in lists %}
                <tr>
                    <td>{{ loop.revindex }}</td>
                    <td class="text-left">
                        <a class="text-reset" href="{{  url_for('board_view', idx=item._id)}}">{{ item['title'] }}</a>
                    </td>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['date']|formatdatetime }}</td>
                    <td>{{ item['view'] }}</td>
                    <td>0</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}