{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#content").summernote({
            lang: 'ko-KR',
            focus: true,
            height: 400,
            minHeight: null,
            maxHeight: null,
            

            callbacks: {
                onImageUpload: function(image) {
                    for(let i=0; i < image.length; i++) {
                        uploadImage(image[i]);
                    }
                }
            }
        });

        $("#customFile").on('change',function(){
            if(window.FileReader){
                var filename = $(this)[0].files[0].name;
            } else {
                var filename = $(this).val.split('/').pop().split('\\').pop();
            }

            //filename insert
            $('#userfile').val(filename);
        });
    });

    function uploadImage(image) {
        var data = new FormData();
        data.append("image", image);
        $.ajax({
            url: "{{url_for('upload_image')}}",
            cache: false, // cache 가 true 이면 캐싱된 데이터로 처리될 수 있어 데이터 전송이 되지 않을수 있어 false
            contentType: false, // 기본값이 application/x-www-form-urlencoded 인데 파일전송시에는 multipart/form-data 로 보내야 하기 때문에 false
            processData: false, //POST 형태의 데이터를 전달할때는 query string 형태의 GET 방식으로 보내면 안되기 때문에 false
            data: data,
            type: "post",
            success: function(url) {
                var image = $('<img>').attr('src', url).css("max-width", "900px");
                $('#content').summernote("insertNode", image[0]);
            },
            error: function(data) {
                alert(data);
            }
        });
    }
</script>

<table class="table table-sm table-borered">
    <form name="form" method="POST" action="/write" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <tbody>
            <tr>
                <td colspan="2" class="text-right"><input type="submit"class="btn btn-outline-dark float-right" value="확인"></td>
            </tr>
            <tr>
                <td>작성자</td>
                <td><input class="form-control" type="text" name="name" value="{{ name }}" readonly></td>
            </tr>
            <tr>
                <td>{{ form.title.label.text }}</td>
                <td>{{ form.title(class="form-control", cols="80") }}</td>
            </tr>
            <tr>
                <td>{{ form.content.label.text }}</td>
                <td>{{ form.content(_id="content") }}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2" class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="attachfile">
                    <label class="custom-file-label" for="customFile">파일선택</label>
                </td>
            </tr>
            <tr>
                <td>목록</td>
                <td><input type="text" id="userfile" class="form-control" disabled=""></td>
            </tr>
        </tbody>
    </form>
</table>
{% endblock %}